.card-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  flex: 0 0 30%;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  padding: 15px;
}
.card > img {
  height: 160px;
  width: 180px;
  object-fit: cover;
}
